div .player0, div .player0flip, div .player1, div .player1flip, div .player2, div .player2flip,
div .player3, div .player3-flip {
  height: 100%;
  width: 25%;
  top: 0;
}

div .player0, div .player0flip {
  left: 0;
}

div .player1, div .player1flip {
  left: 25%;
}

div .player2, div .player2flip {
  left: 50%;
}

div .player3, div .player3flip {
  left: 75%;
}

div .fourplayer, div .twoplayer, div .twoplayerprime { display: none; }

