div .history { display: none; }

/*@media screen and (orientation:portrait) {
  div .player0, div .player0flip, div .player1, div .player1flip {
  height: 50%;
  width: 100%;
  left: 0;
  }

  div .player0, div .player0flip {
  top: 0;
  transform: rotate(180deg);
  }

  div .player1, div .player1flip {
  bottom: 0;
  }
}

@media screen and (orientation:landscape) {*/
  div .player0, div .player0flip, div .player1, div .player1flip {
    height: 100%;
    width: 50%;
    top: 0;
  }

  div.player0, div .player0flip {
    left: 0;
  }

  div.player1, div .player1flip {
    right: 0;
  }

/*}*/

@media screen and (-webkit-device-pixel-ratio: 1.5) {
  #header {
    background:url(high-density-image.png);
  }
}

@media screen and (-webkit-device-pixel-ratio: 1.0) {
}

@media screen and (-webkit-device-pixel-ratio: 0.75) {
}

/* laptop */
div.name-inner {
  font-size: 4em;
}
div.life-inner {
  font-size: 18em;
}
div.poison-inner {
  font-size: 8em;
}
