@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: url(RobotoSlab-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url(RobotoSlab-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(RobotoSlab-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url(RobotoSlab-Bold.ttf) format('truetype');
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab';
  overflow: hidden;
}

div .buttons {
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  opacity: 0.8;
  transform: translate(0,0);
  overflow: hidden;
  height: 100%;
}

a.button {
  color: #eeeeec;
  text-align: center;
  background: #2e3436;
  display: block;
}

a.button:hover {
  background: #000 !important;
}


a.button > span {
  font-size: 2em;
  margin-top: -4px;
}

div.buttons > div {
  position: absolute;
  left: 0;
  height: 96px;
  width: 100%;
  z-index: 1;
}

div.buttons > div.scrollup {
  top: 0;
}

div.buttons > div.scrolldown {
  bottom: 0;
}

div .player0, div .player0flip, div .player1, div .player1flip,
div .player2, div .player2flip, div .player3, div .player3flip,
div .player4, div .player4flip {
  position: absolute;
}

div .player0flip, div .player1flip, div .player2flip, div .player3flip, div .player4flip {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

div .life, div .poison, div .name {
  position: absolute;
  width: 100%;
  left: 0;
}

div .name {
  top: 0;
  height: 20%;
}

div .life {
  height: 50%;
  top: 20%;
}
div .incdamage-icon, div .decdamage-icon {
  height: 100%;
  top: 0;
}

div .incpoison-icon, div .devpoison-icon {
  display: none;
}

div .incdamage-trigger, div .decdamage-trigger {
  height: 80%;
  top: 0;
}

div .incdamage-trigger, div .decdamage-trigger,
div .incpoison-trigger, div .decpoison-trigger {
  opacity: 0.5;
}

div .animation-flash {
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-name: flash;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: flash;
}

@keyframes flash {
  from {
    background: none;
  }

  to {
    background: white;
  }
}

div .poison, div .incpoison-icon, div .decpoison-icon {
  bottom: 0;
  height: 30%;
}

div .incpoison-trigger, div .decpoison-trigger {
  height: 30%;
  bottom: 0;
}

div .life-inner, div .name-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0%;
  color: #2e3436;
  text-align: center;
}

div .life-inner, div .poison-inner, div .name-inner {
  text-align: center;
  vertical-align: middle;
  color: #2e3436;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

div .lethal {
  color: #a40000;
}

div .life-inner {
  font-size: 12em;
  font-weight: 700;
}

div .poison-inner {
  font-size: 3.4em;
  font-weight: 100;
}

div .name-inner {
  font-size: 1.5em;
  font-weight: 300;
}

div .history {
  position: absolute;
  width: 50%;
  bottom: 25%;
  left: 0;
}

div .incdamage-trigger, div .decdamage-trigger, div .incpoison-trigger, div .decpoison-trigger {
  position: absolute;
  width: 50%;
}

div .incdamage-icon, div .decdamage-icon, div .incpoison-icon, div .decpoison-icon {
  position: absolute;
  width: 20%;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

div .incdamage-trigger {
  right: 0;
}

div .decdamage-trigger {
  left: 0;
}

div .incdamage-icon {
  right: 0;
  background: url(miniplus.png);
}

div .decdamage-icon {
  left: 0;
  background: url(miniminus.png);
}

div .incpoison-trigger {
  right: 0;
}

div .decpoison-trigger {
  left: 0;
}

div .incpoison-icon {
  right: 0;
  background: url(miniplus.png);
}

div .decpoison-icon {
  left: 0;
  background: url(miniminus.png);
}

div .buttons {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

div .undo, div .reset, div .flip,
div .twoplayer, div .twoplayerprime, div .threeplayer, div .fourplayer, div .fiveplayer {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  margin: 8px 8px;
}

div .undo           { background: url(undo.png);           }
div .reset          { background: url(reset.png);          }
div .flip           { background: url(flip.png);           }
div .twoplayer      { background: url(twoplayer.png);      }
div .twoplayerprime { background: url(twoplayerprime.png); }
div .threeplayer    { background: url(threeplayer.png);    }
div .fourplayer     { background: url(fourplayer.png);     }
div .fiveplayer     { background: url(fiveplayer.png);     }
div .clear          { clear: both; }

div .red, div .blue, div .purple, div .green, div .brown, div .orange, div .yellow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

div .noise {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(noise.png);
  z-index: -1;
}

div .blue   { background: #729fcf; }
div .purple { background: #ad7fa8; }
div .green  { background: #8ae234; }
div .brown  { background: #e9b96e; }
div .orange { background: #fcaf3e; }
div .yellow { background: #fce94f; }

