body {
  padding: 0;
  margin: 0;
}

div .player0, div .player0flip, div .player1, div .player1flip,
div .player2, div .player2flip, div .player3, div .player3flip,
div .player4, div .player4flip {
  position: absolute;
}

div .player0flip, div .player1flip, div .player2flip, div .player3flip, div .player4flip {
  transform: rotate(180deg);
}

div .life, div .poison {
  position: absolute;
  width: 100%;
  left: 0;
}

div .life {
  top: 0;
  height: 75%;
}

div .poison {
  bottom: 0;
  height: 25%;
}

div .life-inner, div .poison-inner {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  margin: -0.5em auto;
  text-align: center;
}

div .life-inner {
  line-height: 128px;
  font-size: 128px;
}

div .poison-inner {
  line-height: 64px;
  font-size: 64px;
}

div .history {
  position: absolute;
  width: 50%;
  bottom: 25%;
  left: 0;
}

div .incdamage, div .decdamage, div .incpoison, div .decpoison {
  position: absolute;
  width: 50%;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

div .incdamage, div .decdamage {
  top: 0;
  height: 75%;
}

div .incdamage {
  right: 0;
  background: url(plus.png);
}

div .decdamage {
  left: 0;
  background: url(plus.png);
  background: url(minus.png);
}

div .incpoison, div .decpoison {
  bottom: 0;
  height: 25%;
}

div .incpoison {
  right: 0;
  background: url(miniplus.png);
}

div .decpoison {
  left: 0;
  background: url(miniminus.png);
}

div .buttons {
  position: absolute;
  top: 0;
  right: 0;
}

div .undo, div .reset, div .flip,
div .twoplayer, div .twoplayerprime, div .threeplayer, div .fourplayer, div .fiveplayer {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  margin: 8px 8px;
}

div .clear { clear: both; }

div .undo           { background: url(undo.png);           }
div .reset          { background: url(reset.png);          }
div .flip           { background: url(flip.png);           }
div .twoplayer      { background: url(twoplayer.png);      }
div .twoplayerprime { background: url(twoplayerprime.png); }
div .threeplayer    { background: url(threeplayer.png);    }
div .fourplayer     { background: url(fourplayer.png);     }
div .fiveplayer     { background: url(fiveplayer.png);     }

div .red, div .blue, div .purple, div .green, div .brown, div .orange, div .yellow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

div .noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(noise.png);
  z-index: -1;
}

div .red    { background: #cc0000; }
div .blue   { background: #3465a4; }
div .purple { background: #75507b; }
div .green  { background: #73d216; }
div .brown  { background: #c17d11; }
div .orange { background: #f57900; }
div .yellow { background: #edd400; }

