div .player0, div .player0flip, div .player1, div .player1flip {
  height: 100%;
  width: 50%;
  top: 0;
}

div .player0, div .player0flip {
  left: 0;
}

div .player1, div .player1flip {
  right: 0;
}

div .fourplayer, div .fiveplayer, div .flip, div .twoplayer { display: none; }

