.a-flash {
  background: white;
  animation-duration: 0.18s;
  animation-iteration-count: 1;
  animation-name: flash;
  animation-fill-mode: none;
}

@keyframes flash {
  from { background: white; }
  to   { background: transparent; }
}

.a-blink {
  opacity: 1.0;
  animation-duration: 0.18s;
  animation-iteration-count: 1;
  animation-name: blink;
  animation-fill-mode: none;
}

@keyframes blink {
  from { opacity: 0.3; }
  to   { opacity: 1.0; }
}


.a-open {
  top: 0;
  animation-duration: 0.36s;
  animation-iteration-count: 1;
  animation-name: open;
  animation-fill-mode: forwards;
}

@keyframes open {
  from { top: -100%; }
  to   { top:  0; }
}

.a-close {
  top: -100%;
  animation-duration: 0.36s;
  animation-iteration-count: 1;
  animation-name: close;
  animation-fill-mode: forwards;
}

@keyframes close {
  from { top:  0; }
  to   { top: -100%; }
}

.a-openprime {
  top: 100%;
  animation-duration: 0.36s;
  animation-iteration-count: 1;
  animation-name: openprime;
  animation-fill-mode: forwards;
}

@keyframes openprime {
  from { top:   0;  }
  to   { top: 100%; }
}

.a-closeprime {
  top: 0;
  animation-duration: 0.36s;
  animation-iteration-count: 1;
  animation-name: closeprime;
  animation-fill-mode: forwards;
}

@keyframes closeprime {
  from { top: 100%; }
  to   { top:   0;  }
}
